/Java/Semana 1 (03-04 al 07-04)/Leccion01/MundoPC/nbproject/private/
/Java/Semana 1 (03-04 al 07-04)/Leccion01/MundoPC/build/
/Java/Semana 2 (10-04 al 14-04)/Leccion02/ArgumentosVariables/nbproject/private/
/Java/Semana 3 (10-04 al 14-04)/Leccion02/ArgumentosVariables/nbproject/private/
/Java/Semana 3 (10-04 al 14-04)/Leccion02/Enumeraciones/nbproject/private/
/Java/Semana 3 (10-04 al 14-04)/Leccion02/Enumeraciones/build/
/Java/Semana 3 (10-04 al 14-04)/Leccion02/BloquesInicializacion/nbproject/private/
/Java/Semana 3 (10-04 al 14-04)/Leccion02/BloquesInicializacion/build/
/Java/Semana 4 (24-04 al 28-04)/New Folder/ForEach/nbproject/private/
/Java/Semana 4 (24-04 al 28-04)/New Folder/ForEach/build/
/Java/Semana4 (24-04 al 28-04)/Leccion03/ForEach/nbproject/private/
/Java/Semana4 (24-04 al 28-04)/Leccion03/AutoboxingUnboxing/nbproject/private/
/Java/Semana4 (24-04 al 28-04)/Leccion03/ModificadoresAcceso/nbproject/private/
/Java/Semana4 (24-04 al 28-04)/Leccion03/ModificadoresAcceso/build/
/Java/Semana 5 (01-05 al 05-05)/New Folder/Sobreescritura/nbproject/private/
/Java/Semana 5 (01-05 al 05-05)/New Folder/Sobreescritura/build/
/Java/Semana 5 (01-05 al 05-05)/New Folder/IntanceOf/nbproject/private/
/Java/Semana 5 (01-05 al 05-05)/New Folder/IntanceOf/build/
/Java/Semana 5 (01-05 al 05-05)/Leccion04/Sobreescritura/nbproject/private/
/Java/Semana 5 (01-05 al 05-05)/Leccion04/IntanceOf/build/
/Java/Semana 6 ( 08-05 al 12-05)/Leccion05/ConversionObjetos/build/
/**/.idea/*

