/Java/Semana 1 (03-04 al 07-04)/Leccion01/MundoPC/nbproject/private/
/Java/Semana 1 (03-04 al 07-04)/Leccion01/MundoPC/build/
/Java/Semana 2 (10-04 al 14-04)/Leccion02/ArgumentosVariables/nbproject/private/
/Java/Semana 3 (10-04 al 14-04)/Leccion02/ArgumentosVariables/nbproject/private/
/Java/Semana 3 (10-04 al 14-04)/Leccion02/Enumeraciones/nbproject/private/
/Java/Semana 3 (10-04 al 14-04)/Leccion02/Enumeraciones/build/
/Java/Semana 3 (10-04 al 14-04)/Leccion02/BloquesInicializacion/nbproject/private/
/Java/Semana 3 (10-04 al 14-04)/Leccion02/BloquesInicializacion/build/
